* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans 3', sans-serif;
}

header,
main {
  width: 500px;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 2px solid grey;
}

#logo {
  width: 150px;
}

.img-profile,
.img-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.posting {
  display: flex;
  flex-direction: column;
}

.account {
  display: flex;
  gap: 15px;
  height: 80px;
  align-items: center;
  padding: 0 20px;
}

.account-name,
.account-location {
  margin: 0;
}

.account-name {
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 3px;
}

.btn {
  display: flex;
  height: 50px;
  gap: 20px;
  padding: 20px 0 0 20px;
  margin-bottom: 10px;
}

.button {
  height: 40px;
  width: 40px;
}

.num-like,
.username {
  padding-left: 20px;
  font-size: 1.1rem;
  font-weight: bold;
}

.comment-section {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.username,
.comment {
  margin: 0;
}

.btn-like:hover,
.btn-like:active {
  content: url(images/icon-heart-red.png);
}

.btn-comment:hover,
.btn-comment:active {
  content: url(images/icon-comment-yellow.png);
}

.btn-share:hover,
.btn-share:active {
  content: url(images/icon-dm-blue.png);
}
